@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url('fonts/droidsans/droidsans.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('fonts/droidsans/droidsansbold.woff') format('woff');
}

@icon-font-path:       "fonts/";
@font-family-base:     "Droid Sans", Arial, sans-serif;
@headings-font-family: "Droid Sans", Arial, sans-serif;

@container-lg-desktop: (950px + @grid-gutter-width);

@white:        #FFFFFF;
@green-pastel: #A9C1A4;
@light-brown:  #F9EFE8;